ion-input, ion-select{
    background-color: rgba(167, 167, 255, 0.349);
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
   
}

ion-buton{
    background-color: rgb(104, 104, 226);
}

.item-form{
    border-bottom: 0px;
    margin-top:20px;
    padding-left: 10px;
    padding-right: 10px;
}

